<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<form action = "/sessions" method = "post">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
	<label>
	Email <input type="text" name="session[email]" placeholder="name">
	</label>
	<label>
	Password <input type="password" name="session[password]" placeholder="name">
	</label>
	<input type="submit" value="Log In">
</form>