<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<form action=<%="/users/#{@user.id}"%> method="post">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
	<input type = "text" name ="user[name]" placeholder="name">
	<input type = "text" name ="user[email]" placeholder="email">
	<input type='hidden' name='_method' value='patch'>
	<input type="submit" value="create">
</form>	